SUPABASE_URL=https://vvaduoahiibnkxzwzpge.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2YWR1b2FoaWlibmt4end6cGdlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTgyNDA1OSwiZXhwIjoyMDgxNDAwMDU5fQ.Yr1SXnZqLi3USgER0_HHAQUbK05sIog86SyrUaTnne0
VIDEO_BUCKET_NAME=video-analyzer-v1
OPENAI_API_KEY=
