# Copy to .env.local
NEXT_PUBLIC_SUPABASE_URL=https://vvaduoahiibnkxzwzpge.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2YWR1b2FoaWlibmt4end6cGdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4MjQwNTksImV4cCI6MjA4MTQwMDA1OX0.4IG5xSNShF_ZnfnNu6p1pxtKqLjC00BOwqQutqHFWKk
NEXT_PUBLIC_VIDEO_BUCKET_NAME=video-analyzer-v1
